header {
	color: aliceblue;
}

#floating-panel {
	width: 350px;
	position: fixed;
	top: 50%;
	right: 20px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

#map {
	height: 590px;
}
html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	margin: 0;
	padding: 15px;
}

.places-label{
	padding: 10px;
}
.places-label:hover{
	background-color: #A8A8A8
}
