header {
	color: aliceblue;
}

#floating-panel {
	width: 200px;
	top: 50%;
	right: 20px;
	z-index: 1;
	background-color: white;
	border: 1px solid grey;
	font-family: 'Roboto', 'sans-serif';
	/* line-height: 25px; */
}

#locations-box{
	height: 400px;
	background: #E9ECED;
	border-color: gray;
	overflow: auto;
	border-radius:15px;
	padding:5px;
}

#map {
	height: 590px;
	/* position: relative; */
}
html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	margin: 0;
	padding: 15px;
}

.places-label{
	padding: 10px;
}
.places-label:hover{
	background-color: #A8A8A8
}

#panel-name{
	text-align: center;
	color: white;
}
.panel-prob i{
	padding-left: 20px;
	padding-right: 50px;
}
